.div-additem-form {
    overflow: scroll;
    max-height: 75vh;
    max-width: 97%;
    margin: 0 auto;
    padding: 2%;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    font-family: inherit;
}
.div-additem-form::-webkit-scrollbar {
  width: 0.5rem;
}

.div-additem-form::-webkit-scrollbar-track {
  background: none;
}

.div-additem-form::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: 10px;
}

.div-additem-button {
    width: 50%;
    margin-left: 25%;
}