.div-user-page {
    display: flex;
}

.div-user-page-tabs {
    width: 20%;
    padding: 0.5em;
}

.div-user-page-content {
    width: 80%;
    padding: 0.5em;
}
@media (max-width: 768px) {
.div-user-page-content{
    width: 100%;
    padding: 0;
}
}