.form-changepassword-container {
    max-width: 80%;
    margin: 0 auto;
    padding: 2%;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    font-family: inherit;
}

.input-changepassword-field:focus {
    border-color: black;
}

.div-changepassword-button {
    width: 50%;
    margin-left: 25%;
}

.p-changepassword-error {
    color: red;
    font-size: calc(0.3em + 1vw);
    text-align: center;
}

.p-changepassword-success {
    color: green;
    font-size: calc(0.3em + 1vw);
    text-align: center;
}