.label-form-dropdown-text {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-weight: bold;
  font-size: calc(0.3em + 0.8vw);
  gap: 0.3rem;
}

.select-form-dropdown-field {
  padding: 0.6rem 1rem;
  font-size: calc(0.3em + 0.8vw);
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  width: 100%;
  box-sizing: border-box;
  transition: border 0.2s ease;
}

.ul-form-dropdown-autocomplete-option {
  list-style: none !important;
  position: absolute !important;
  z-index: 1;
  background: white;
  border: 1px solid #ccc;
  width: 100%;
  max-height: 150px;
  overflow-y: auto;
  margin: 0;
  padding: 0;
}

.ul-form-dropdown-autocomplete-option li {
  list-style: none !important;
}

.li-form-dropdown-autocomplete-option {
  font-size: calc(0.3em + 0.8vw);
  font-weight: normal;
  padding: 0.5rem;
  cursor: pointer;
  transition: background 0.2s ease;
  padding: 8px;
}

.select-form-dropdown-field:focus {
  border-color: black;
}

.dropdown-input-wrapper {
  position: relative;
}

.field-error {
  border: 1px solid red !important;
}

@media (max-width: 768px) {

  .select-form-dropdown-field {
    font-size: calc(0.7em + 1vw);
    border: 1px solid black;
    border-radius: 6px;
  }

  .label-form-dropdown-text {
    font-size: calc(0.7em + 1vw);
  }
}