.form-regist {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.div-regist-success {
  color: green;
  font-size: 0.9rem;
}

.div-regist-warning {
  color: #b08900;
  font-size: 0.9rem;
}

.p-regist-error {
  color: red;
  font-size: 0.9rem;
}

.div-regist-button-wrapper {
  width: 50%;
}