.form_changepassword_container {
    max-width: 80%;
    margin: 0 auto;
    padding: 2%;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    font-family: inherit;
}

.input_changepassword_field:focus {
    border-color: black;
}

.div_changepassword_button {
    width: 50%;
    margin-left: 25%;
}

.p_changepassword_error {
    color: red;
    font-size: calc(0.3em + 1vw);
    text-align: center;
}

.p_changepassword_success {
    color: green;
    font-size: calc(0.3em + 1vw);
    text-align: center;
}