.swiper {
    width: 100%;
}

.swiper-wrapper {
    position: relative;
    width: 100%;
}

.swiper-button-next, .swiper-button-prev {
    --swiper-navigation-color: #fff;
}

.custom-swiper-button-prev,
.custom-swiper-button-next {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1050;
    font-size: 2rem;
    color: #fff;
    border-radius: 10%;
    cursor: pointer;
    transition: background 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
}

.custom-swiper-button-prev:hover,
.custom-swiper-button-next:hover {
    background: rgba(0, 0, 0, 0.7);
}

.custom-swiper-button-prev {
    left: -100%;
    padding-bottom: 0.3rem;
}

.custom-swiper-button-next {
    right: -100%;
    padding-bottom: 0.3rem;
}

.custom-swiper-pagination {
    position: fixed;
    display: flex;
    justify-content: center;
    font-size: calc(0.3em + 1vw);
    z-index: 1050;
    bottom: -30%;
    color: #fff;
}

@media (max-width: 768px) {
  .custom-swiper-pagination {
    font-size: calc(0.8em + 1vw);
  }
}