.div-addcustomorder-form {
    /* max-height: 75vh; */
    width: 80%;
    margin: 0 auto;
    padding: 2%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-family: inherit;
}

.div-addcustomorder-button {
    width: 50%;
    margin-left: 25%;
}