.label-form-text {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: 0.95rem;
  gap: 0.3rem;
}

.input-form-field {
  padding: 0.6rem 1rem;
  font-size: 0.95rem;
  border: 1px solid #000000;
  border-radius: 0.5rem;
  outline: none;
  width: 100%;
  box-sizing: border-box;
  transition: border 0.2s ease;
}

.input-form-field:focus {
  border-color: black;
}

.field-error {
  border: 1px solid red !important;
}