.form_login {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.p_login_error {
    color: red;
    font-size: calc(0.3em + 1vw);
}

.p_login_success {
    color: green;
    font-size: calc(0.3em + 1vw);
}

.div_login_button_wrapper {
    width: 50%;
}