.form-regist {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.div-regist-input {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}

.div-regist-input input {
  padding: 0.5rem;
  margin-top: 0.3rem;
  border: 1px solid black;
  background-color: #f1f5ff;
  border-radius: 4px;
  font-size: 1rem;
}

.div-regist-success {
  color: green;
  font-size: 0.9rem;
}

.div-regist-warning {
  color: #b08900;
  font-size: 0.9rem;
}

.p-regist-error {
  color: red;
  font-size: 0.9rem;
}

.div-regist-button-wrapper {
    width: 50%;
}